# Ignore Mac system files
.DS_Store

# Ignore Jupyter Notebook checkpoints
__pycache__/
.ipynb_checkpoints/

# Ignore Python compiled files
*.pyc

# Ignore specific folders or files
data/raw_data/
credentials.json

#Ignore workspaces 
new-workspace.jupyterlab-workspace
